.app-navigation{
    background-color:  #393b44;
}
.text-brown{
    text-decoration: none;
    color:#ffc93c;
}
.text-brown:hover{
    color:#ffc93c;
}
.dropdown-toggle{
    font-weight: bold;
}
.dropdown-toggle:hover{
    cursor: pointer;
}